<br>
<h1 class="text-center"><img src="/static/images/add-to-cart.png" height="50" width="50">  Insertar</h1>
<br>
<form method="POST">
        <section class="form-group">
                <label for="codigo_barras">Código de Barras</label>
                <input type="text" class="form-control"  placeholder="Código de Barras" id="codigo_barras" name="codigo_barras">
        </section>
        <section class="form-group">
            <label for="nombre_p">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" id="nombre_p" name="nombre_p">
        </section>
        <section class="form-group">
                <label for="marca">Marca</label>
                <input type="text" class="form-control"  placeholder="Marca" id="marca" name="marca">
        </section>
        <section class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" placeholder="Descripción"  id="descripcion" name="descripcion">
        </section>
        <section class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" class="form-control" placeholder="Tipo" id="tipo" name="tipo">
        </section>
        <br>
        <button type="submit" class="btn btn-success btn-lg"><img src="/static/images/cart.png" height="20" width="20">  Insertar</button>
</form>
<br>
<a href="/index_product"><button class="btn btn-warning btn-lg">Cancelar</button></a>