$def with(datos)
<br>
<h1 class="text-center"><img src="/static/images/update.png" height="50" width="50">  Actualizar</h1>
<br>
<form method="POST">
        <section class="form-group">
                <label for="codigo_barras">Código de Barras</label>
                <input type="text" class="form-control" readonly="true" value="$datos.codigo_barras" id="codigo_barras" name="codigo_barras">
        </section>
        <section class="form-group">
            <label for="nombre_p">Nombre</label>
            <input type="text" class="form-control" value="$datos.nombre_p" id="nombre_p" name="nombre_p">
        </section>
        <section class="form-group">
                <label for="marca">Marca</label>
                <input type="text" class="form-control"  value="$datos.marca" id="marca" name="marca">
        </section>
        <section class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" value="$datos.descripcion" id="descripcion" name="descripcion">
        </section>
        <section class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" class="form-control"  value="$datos.tipo" id="tipo" name="tipo">
        </section>
        <br>
        <button type="submit" class="btn btn-success btn-lg"><img src="/static/images/refresh-button.png" height="15" width="15"> Actualizar</button>
</form>
<br>
<a href="/index_product"><button class="btn btn-warning btn-lg">Cancelar</button></a>
